@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #E5E5E5;
	font-family: 'Poppins', sans-serif;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	height: 110px;
	background-color: #fff;
}

.clear {
	clear: both;
}

.wrapper {
	position: relative;
	width: 1100px;
	margin: auto;
}

.menu img {
	margin-top: 35px;
	margin-left: 30px;
}

.menu ul {
	margin-top: 25px;
	float: right;
}

.menu ul li {
	display: inline-block;
	margin-right: 25px;
}

.menu a {
	font-weight: bold;
	text-decoration: none;
	font-size: 18px;
	color: #2F2F2F;
}

.menu a:hover {
	text-decoration: underline;
}

.masuk {
	border-left: 3px solid #808080;
	line-height: 60px;
	padding-left: 30px;
}

.masuk button {
	color: #2F2F2F;
	background-color: #fff;
	font-size: 18px;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

.masuk button:hover {
	text-decoration: underline;
}

.daftar button {
	width: 134px;
	height: 56px;
	color: #fff;
	background-color: #419DDF;
	font-size: 18px;
	border: none;
	border-radius: 6px;
	font-weight: bold;
	cursor: pointer;
}

.daftar button:hover {
	background-color: #e7c92f;
	transition: 0.3s;
}

.column-1 {
	position: relative;
	top: 160px;
	left: 0;
	width: 576px;
	height: 252px;
}

.column-1 h1 {
	font-size: 55px;
}

.column-1 p {
	font-size: 20px;
	margin-top: 25px;
}

.column-2 img{
	position: relative;
	width: 70%;
	float: right;
	margin-top: -500px;
	margin-right: -70px;
	z-index: 0;
}

.tabel {
	position: relative;
	z-index: 2;
	margin-top: 40px;
	width: 811px;
	height: 110px;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 9px 16px 26px rgba(0,0,0,0.1);
}

.table-size {
	width: 600px;
	margin-left: 30px;
}

.list td {
	font-size: 19px;
	padding-top: 18px;
	padding-right: 40px;
}

.isi td {
	padding-right: 30px;
	text-align: left;
	font-size: 30px;
	font-weight: bold;
}

.tabel a {
	float: right;
	margin-top: -70px;
	margin-right: 30px;
	text-decoration: none;
	width: 130px;
	height: 56px;
	line-height: 56px;
	color: #fff;
	border-radius: 6px;
	text-align: center;
	background-color: #419DDF;
}

.tabel a:hover {
	background-color: #e7c92f;
	transition: 0.3s;
}

.menu-pilihan {
	position: static;
	margin-top: 120px;
	text-align: center;
}

.menu-pilihan p {
	margin-top: 15px;
	color: #444444;
	font-size: 18px;
}

.card {
	margin-top: 35px;
	margin-right: 25px;
	width: 256px;
	height: 334px;
	background-color: #fff;
	border-radius: 6px;
	float: left;
}

.card img {
	padding-top: 40px;
	padding-left: 40px;
}

.card h3 {
	width: 170px;
	height: 90px;
	padding-left: 40px;
	padding-top: 20px;
	font-size: 18px;
}

.card button {
	width: 170px;
	height: 54px;
	background-color: #419DDF;
	color: #fff;
	margin-top: 20px;
	margin-left: 40px;
	border: none;
	border-radius: 6px;
	font-size: 18px;
	cursor: pointer;
}

.card button:hover {
	background-color: #e7c92f;
	transition: 0.3s;
}

.card-border button {
	width: 170px;
	height: 54px;
	background-color: #fff;
	color: #419DDF;
	margin-top: 20px;
	margin-left: 40px;
	border: 2px solid #419DDF;
	border-radius: 6px;
	font-size: 18px;
	cursor: pointer;
}

.card-4 {
	margin-top: 35px;
	width: 256px;
	height: 334px;
	background-color: #fff;
	border-radius: 6px;
	float: right;
}

.card-4 img {
	padding-top: 40px;
	padding-left: 40px;
}

.card-4 h3 {
	width: 170px;
	height: 90px;
	padding-left: 40px;
	padding-top: 20px;
	font-size: 18px;
}

.card-border-4 button {
	width: 170px;
	height: 54px;
	background-color: #fff;
	color: #419DDF;
	margin-top: 20px;
	margin-left: 40px;
	border: 2px solid #419DDF;
	border-radius: 6px;
	font-size: 18px;
	cursor: pointer;
}

.card-border-4 button:hover {
	background-color: #e7c92f;
	transition: 0.3s;
}

.butuh-bantuan {
	width: 100%;
	height: 190px;
	background-color: rgba(231,201,47,0.2);
	margin-top: 40px;
	box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
}

.size-box {
	width: 700px;
	height: 54px;
	padding-top: 35px;
}

.size-box p {
	margin-top: 15px;
	font-size: 16px;
}

.size-box button {
	width: 259px;
	height: 56px;
	float: right;
	margin-right: -320px;
	margin-top: -70px;
	background-color: #419DDF;
	color: #fff;
	border: none;
	border-radius: 6px;	
	font-size: 20px;
	cursor: pointer;
}

.size-box button:hover {
	background-color: #e7c92f;
	transition: 0.3s;
}

.footer img {
	margin-top: 80px;
}	

.p-footer p {
	margin-top: 20px;
	width: 500px;
	height: 175px;
	font-size: 18px;
	float: left;
}

.pilihan-menu {
	line-height: 35px;
	margin-top: -30px;
	margin-left: 120px;
	float: left;
}

.ikuti-kami {
	line-height: 35px;
	margin-top: -30px;
	margin-right: 125px; 	
	float: right;
}

.pilihan-menu ul {
	list-style-type: none;
}

.ikuti-kami ul {
	list-style-type: none;
}

.pilihan-menu a {
	font-size: 18px;
	color: black;
	text-decoration: none;
}

.pilihan-menu a:hover {
	background-color: #e7c92f;
	transition: 0.3s;
}

.ikuti-kami a {
	font-size: 18px;
	color: black;
	text-decoration: none;
}

.ikuti-kami a:hover {
	background-color: #e7c92f;
	transition: 0.3s;
}

#copyright {
	font-size: 18px;
}

.select a {
	text-decoration: underline;
}